.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* animation: App-text-spin infinite 20s linear; */
}


@keyframes App-text-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
